dropbox==2.1.0
feedparser==5.1
Flask-Login==0.2.11
flask-restful==0.2
Flask==0.10
listparser==0.16
sqlalchemy==0.9
twitter==1.15.0
nltk==3.0.0b1
beautifulsoup4==4.3.2
urlnorm==1.1.2
unidecode==0.04.16
python-dateutil==2.3